# Python
__pycache__/
*.py[cod]
*.egg-info/

# Dados do Data Lake
data/bronze/
data/silver/
data/gold/

# Ignora tudo dentro de data/work...
data/work/*
# ...exceto a própria pasta work e a pasta zips
!data/work/
!data/work/zips/
!data/work/zips/**

app/data/bronze/
app/data/silver/
app/data/gold/
app/data/work/*
!app/data/work/
!app/data/work/zips/
!app/data/work/zips/**

# Logs e temporários Spark/Delta
logs/
*_SUCCESS
*.crc
*.parquet
*/_delta_log/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db