# Python
__pycache__/
*.py[cod]
*.egg-info/

# Dados do Data Lake
/app/data/bronze/
*/data/bronze/
*/data/silver/
*/data/gold/
*/data/samples/

# Spark/Delta temporários
*/_delta_log/
*_SUCCESS
*.crc
*.parquet

# Logs
logs/
*.log

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db